<div class="filters-container">
  <div class="filters-header">
    <div class="accordion-title">
      <img src="../../../assets/svgs/filterlogo.svg" alt="filterlogo">   
      <span>Data Filters</span>
    </div>
    <div class="chevron-button" (click)="closeFiltersContent()">
      <img src="../../../assets/svgs/chevronbutton.svg" alt="chevron">
    </div>
  </div>
  
  
  <div class="container" *ngIf="isFilterContentOn">
    <div class="form-group">
      <!-- <label class="filter-label">Market<span class="required">*</span></label> -->
      <p-autoComplete 
        [(ngModel)]="selectedMarket" 
        [suggestions]="Markets" 
        (completeMethod)="searchMarket($event)" 
        [dropdown]="true" 
        placeholder="-Please Select Market-" 
        class="form-control">
      </p-autoComplete>
    </div>
    
    <div class="form-group">
      <!-- <label class="filter-label">Commodity ID<span class="required">*</span></label> -->
      <p-autoComplete 
        [(ngModel)]="selectedCommodity" 
        [suggestions]="Commodities" 
        (completeMethod)="searchCommodities($event)" 
        [dropdown]="true" 
        placeholder="-Please Select Commodity-" 
        class="form-control">
      </p-autoComplete>
    </div>
  
    <div class="form-group">
      <!-- <label class="filter-label">Date of Establishment<span class="required">*</span></label> -->
      <p-calendar 
        [(ngModel)]="selectedDateRange"
        selectionMode="range"
        [showIcon]="true"
        [required]="true"
        placeholder="-Select Date Range-"
        class="form-control">
      </p-calendar>
    </div>
  
    <div class="form-group">
      <p-button (click)="fetchData()">
        <span>Fetch Data</span>
        <img src="../../../assets/svgs/magniying.svg" alt="@">
      </p-button>
    </div>
  </div>
</div>

