.filters-container {
  background-color: #FEFFFA;
  border-radius: 8px;
  border: 1px solid #EEEFEB;
  margin: 10px;
  padding: 16px;
  font-family: "Rubik", serif;
}
.filters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  align-items: center;
  gap: 8px;
  height: 28px;
}
.header-text {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #1a1a1a;
}


.container {
  display: grid;
  gap: 10px;
  padding: 8px;
  justify-content:center;
  align-items: center;
  

}
.form-group{
  position: relative;
}

.filter-label {
  position:absolute;
  background-color: #FEFFFA;
  left: 13px;
  font-size: 12px;
  top: -7px;
  padding-left: 4px;
  z-index: 1;

  .required {
    background-color: #FEFFFA;
    padding-right: 4px;
    color: red;
  }
}

/* Desktop/Laptop: 1 row, 4 columns */
@media screen and (min-width: 1025px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet: 2 rows, 2 columns */
@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile: 4 rows, 1 column */
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
